[submodule "modules/cores"]
	path = modules/cores
	url = https://github.com/PaulStoffregen/cores.git
[submodule "modules/ADC"]
	path = modules/ADC
	url = https://github.com/pedvide/ADC
[submodule "modules/SPI"]
	path = modules/SPI
	url = https://github.com/PaulStoffregen/SPI.git
[submodule "modules/Wire"]
	path = modules/Wire
	url = https://github.com/PaulStoffregen/Wire.git
[submodule "modules/USBHost_t36"]
	path = modules/USBHost_t36
	url = https://github.com/PaulStoffregen/USBHost_t36.git
[submodule "modules/SdFat"]
	path = modules/SdFat
	url = https://github.com/PaulStoffregen/SdFat.git
[submodule "modules/teensy_loader_cli"]
	path = modules/teensy_loader_cli
	url = https://github.com/PaulStoffregen/teensy_loader_cli.git
[submodule "modules/CMSIS_5"]
	path = modules/CMSIS_5
	url = https://github.com/ARM-software/CMSIS_5.git
[submodule "modules/CMSIS-DSP"]
	path = modules/CMSIS-DSP
	url = https://github.com/ARM-software/CMSIS-DSP.git
